{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sipsem</title>
    {% render_bundle 'main' 'css' %}
  </head>
  <body>
    <div id="root">
    </div>
      {% render_bundle 'main' 'js' %}
  </body>
</html>